@use "@colors" as *;
@use "@medias" as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-image: $gradient;
}

.main {
  padding: 5rem;
  padding-bottom: 0;
  height: 100%;
}

@media (max-width: $oneSevenHundred) {
  .main {
    padding: 1rem;
  }
}
