$primary-purple: #343487;
$darkPurple: #20204a;
$dark-purple-100: #20204afc;
$dark-purple-200: #20204ae6;
$dark-purple-300: #262657;
$dark-purple-400: #2b2b5a;
$pink: #fe7e91;
$orange: #ffc957;
$purple: purple;
$light-blue: #4e95d3;
$white: white;
$opaque: #42428b;
$opaque-light: #6060ae;
$opaque-light-100: #9e9ed6;
$peach: #fe9f78;
$gradient: linear-gradient(to bottom right, $primary-purple, $dark-purple-100);
